article,b,body,body div,code,del,dl,dt,figure,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,li,mark,nav,object,ol,p,q,small,span,strong,sub,sup,th,time,tr,ul,var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: transparent;
}

article,figure,nav {
  display: block;
}

html {
  box-sizing: border-box;
}

*,:after,:before {
  box-sizing: inherit;
}

img,object {
  max-width: 100%;
}

html {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

q {
  quotes: none;
}

q:after,q:before {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

th {
  font-weight: 700;
  vertical-align: bottom;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,select {
  vertical-align: middle;
}

input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

input,select {
  font: 99% sans-serif;
}

small {
  font-size: 85%;
}

strong {
  font-weight: 700;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

code {
  font-family: monospace,sans-serif;
}

input[type=button],input[type=file],input[type=submit] {
  cursor: pointer;
}

input,select {
  margin: 0;
}

input[type=button] {
  width: auto;
  overflow: visible;
}

@-webkit-keyframes spin-around {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin-around {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

html {
  background-color: #f5f7fa;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

article,figure {
  display: block;
}

body,input,select {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

code {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: Source Code Pro,Monaco,Inconsolata,monospace;
  line-height: 1.25;
}

body {
  color: #69707a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.428571428571429;
}

a {
  color: #1fc8db;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: none 86ms ease-out;
  transition: none 86ms ease-out;
}

a:hover {
  color: #222324;
}

code {
  background-color: #f5f7fa;
  color: #ed6c63;
  font-size: 12px;
  font-weight: 400;
  padding: 1px 2px 2px;
}

hr {
  border-top-color: #d3d6db;
  margin: 20px 0;
}

img {
  max-width: 100%;
}

input[type=checkbox],input[type=radio] {
  vertical-align: baseline;
}

small {
  font-size: 11px;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  color: #222324;
  font-weight: 700;
}

.box:not(:last-child),.content:not(:last-child),.level:not(:last-child),.message:not(:last-child),.notification:not(:last-child),.progress:not(:last-child),.title:not(:last-child) {
  margin-bottom: 20px;
}

.container {
  position: relative;
}

@media screen and (min-width:980px) {
  .container {
    margin: 0 auto;
    max-width: 960px;
  }
}

@media screen and (min-width:1180px) {
  .container {
    max-width: 1200px;
  }
}

.fa {
  font-size: 21px;
  text-align: center;
  vertical-align: top;
}

.has-text-left {
  text-align: left;
}

.has-text-right {
  text-align: right;
}

.is-hidden {
  display: none!important;
}

.box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 3px hsla(0,0%,7%,.1),0 0 0 1px hsla(0,0%,7%,.1);
  display: block;
  padding: 20px;
}

a.box:focus,a.box:hover {
  box-shadow: 0 2px 3px hsla(0,0%,7%,.1),0 0 0 1px #1fc8db;
}

a.box:active {
  box-shadow: inset 0 1px 2px hsla(0,0%,7%,.2),0 0 0 1px #1fc8db;
}

.content a:not(.button) {
  border-bottom: 1px solid #d3d6db;
}

.content a:not(.button):visited {
  color: #847bb9;
}

.content a:not(.button):hover {
  border-bottom-color: #1fc8db;
}

.content li+li {
  margin-top: .25em;
}

.content ol:not(:last-child),.content p:not(:last-child),.content ul:not(:last-child) {
  margin-bottom: 1em;
}

.content h1,.content h2,.content h3,.content h4,.content h5,.content h6 {
  color: #222324;
  font-weight: 300;
  line-height: 1.125;
  margin-bottom: 20px;
}

.content h1:not(:first-child),.content h2:not(:first-child),.content h3:not(:first-child) {
  margin-top: 40px;
}

.content h1 {
  font-size: 2em;
}

.content h2 {
  font-size: 1.75em;
}

.content h3 {
  font-size: 1.5em;
}

.content h4 {
  font-size: 1.25em;
}

.content h5 {
  font-size: 1.125em;
}

.content h6 {
  font-size: 1em;
}

.content ol {
  list-style: decimal outside;
}

.content ol,.content ul {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em;
}

.content ul {
  list-style: disc outside;
}

.content ul ul {
  list-style-type: circle;
  margin-top: .5em;
}

.content ul ul ul {
  list-style-type: square;
}

.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #222324;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  height: 32px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  box-shadow: inset 0 1px 2px hsla(0,0%,7%,.1);
  max-width: 100%;
  width: 100%;
}

.input:hover {
  border-color: #aeb1b5;
}

.input:active,.input:focus {
  border-color: #1fc8db;
  outline: none;
}

.input[disabled] {
  background-color: #f5f7fa;
  border-color: #d3d6db;
  cursor: not-allowed;
  pointer-events: none;
}

.input[disabled]::-moz-placeholder {
  color: rgba(34,35,36,.3);
}

.input[disabled]::-webkit-input-placeholder {
  color: rgba(34,35,36,.3);
}

.input[disabled]:-moz-placeholder {
  color: rgba(34,35,36,.3);
}

.input[disabled]:-ms-input-placeholder {
  color: rgba(34,35,36,.3);
}

.input.is-success {
  border-color: #97cd76;
}

.input.is-danger {
  border-color: #ed6c63;
}

.input[type=search] {
  border-radius: 290486px;
}

.input.is-small {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding-left: 6px;
  padding-right: 6px;
}

.select {
  display: inline-block;
}

.select,.select select {
  height: 32px;
  position: relative;
  vertical-align: top;
}

.select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #222324;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  display: block;
  outline: none;
  padding-right: 36px;
}

.select select:active,.select select:focus {
  border-color: #1fc8db;
  outline: none;
}

.select select[disabled] {
  background-color: #f5f7fa;
  border-color: #d3d6db;
  cursor: not-allowed;
  pointer-events: none;
}

.select select[disabled]::-moz-placeholder {
  color: rgba(34,35,36,.3);
}

.select select[disabled]::-webkit-input-placeholder {
  color: rgba(34,35,36,.3);
}

.select select[disabled]:-moz-placeholder {
  color: rgba(34,35,36,.3);
}

.select select[disabled]:-ms-input-placeholder {
  color: rgba(34,35,36,.3);
}

.select select.is-success {
  border-color: #97cd76;
}

.select select.is-danger {
  border-color: #ed6c63;
}

.select select:hover {
  border-color: #aeb1b5;
}

.select select::ms-expand {
  display: none;
}

.select:after {
  border: 1px solid #1fc8db;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 7px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 7px;
  margin-top: -6px;
  right: 16px;
  top: 50%;
}

.select:hover:after {
  border-color: #222324;
}

.select.is-small {
  height: 24px;
}

.select.is-small select {
  border-radius: 2px;
  font-size: 11px;
  height: 24px;
  line-height: 16px;
  padding-left: 6px;
  padding-right: 6px;
  padding-right: 28px;
}

.image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

.image.is-1by1 img,.image.is-2by1 img,.image.is-3by2 img,.image.is-4by3 img,.image.is-16by9 img {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.image.is-1by1 {
  padding-top: 100%;
}

.image.is-4by3 {
  padding-top: 75%;
}

.image.is-3by2 {
  padding-top: 66.6666%;
}

.image.is-16by9 {
  padding-top: 56.25%;
}

.image.is-2by1 {
  padding-top: 50%;
}

.image.is-16x16 {
  height: 16px;
  width: 16px;
}

.image.is-24x24 {
  height: 24px;
  width: 24px;
}

.image.is-32x32 {
  height: 32px;
  width: 32px;
}

.image.is-48x48 {
  height: 48px;
  width: 48px;
}

.image.is-64x64 {
  height: 64px;
  width: 64px;
}

.image.is-96x96 {
  height: 96px;
  width: 96px;
}

.image.is-128x128 {
  height: 128px;
  width: 128px;
}

.notification {
  background-color: #f5f7fa;
  border-radius: 3px;
  padding: 16px 20px;
  position: relative;
}

.notification:after {
  clear: both;
  content: " ";
  display: table;
}

.notification .delete {
  border-radius: 0 3px;
  float: right;
  margin: -16px -20px 0 20px;
}

.notification .title {
  color: inherit;
}

.notification.is-success {
  background-color: #97cd76;
  color: #fff;
}

.notification.is-danger {
  background-color: #ed6c63;
  color: #fff;
}

.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  display: block;
  height: 12px;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.progress::-webkit-progress-bar {
  background-color: #d3d6db;
}

.progress::-webkit-progress-value {
  background-color: #69707a;
}

.progress::-moz-progress-bar {
  background-color: #69707a;
}

.progress.is-success::-webkit-progress-value {
  background-color: #97cd76;
}

.progress.is-success::-moz-progress-bar {
  background-color: #97cd76;
}

.progress.is-danger::-webkit-progress-value {
  background-color: #ed6c63;
}

.progress.is-danger::-moz-progress-bar {
  background-color: #ed6c63;
}

.progress.is-small {
  height: 8px;
}

.title {
  font-weight: 300;
  word-break: break-word;
}

.title span {
  font-weight: 300;
}

.title a:hover {
  border-bottom: 1px solid;
}

.title strong {
  font-weight: 500;
}

.title .tag {
  vertical-align: bottom;
}

.title {
  color: #222324;
  font-size: 28px;
  line-height: 1;
}

.title code {
  display: inline-block;
  font-size: 28px;
}

.title strong {
  color: inherit;
}

.title.is-1 {
  font-size: 48px;
}

.title.is-1 code,.title.is-2 {
  font-size: 40px;
}

.title.is-2 code,.title.is-3 {
  font-size: 28px;
}

.title.is-3 code,.title.is-4 {
  font-size: 24px;
}

.title.is-4 code,.title.is-5 {
  font-size: 18px;
}

.title.is-5 code,.title.is-6,.title.is-6 code {
  font-size: 14px;
}

.title.is-normal {
  font-weight: 400;
}

.title.is-normal strong {
  font-weight: 700;
}

.delete {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: hsla(0,0%,7%,.2);
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  position: relative;
  vertical-align: top;
  width: 24px;
}

.delete:after,.delete:before {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  margin-left: -25%;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 50%;
}

.delete:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.delete:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.delete:hover {
  background-color: hsla(0,0%,7%,.5);
}

.delete.is-small,.tag:not(.is-large) .delete,.tag:not(.is-large) .modal-close {
  height: 16px;
  width: 16px;
}

.loader {
  -webkit-animation: spin-around .5s infinite linear;
  animation: spin-around .5s infinite linear;
  border: 2px solid #d3d6db;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 16px;
  position: relative;
  width: 16px;
}

.number {
  display: inline-block;
  font-size: 18px;
}

.number,.tag {
  background-color: #f5f7fa;
  border-radius: 290486px;
  vertical-align: top;
}

.tag {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #69707a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.tag .delete {
  margin-left: 4px;
  margin-right: -6px;
}

.tag.is-success {
  background-color: #97cd76;
  color: #fff;
}

.tag.is-danger {
  background-color: #ed6c63;
  color: #fff;
}

.tag.is-small {
  font-size: 11px;
  height: 20px;
  padding-left: 8px;
  padding-right: 8px;
}

.delete {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.level-item .title {
  margin-bottom: 0;
}

@media screen and (max-width:768px) {
  .level-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.level-left .level-item:not(:last-child),.level-right .level-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width:768px) {
  .level-left+.level-right {
    margin-top: 20px;
  }
}

@media screen and (min-width:769px) {
  .level-left,  .level-right {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .level-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.level {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.level code {
  border-radius: 3px;
}

.level img {
  display: inline-block;
  vertical-align: top;
}

@media screen and (min-width:769px) {
  .level {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .level>.level-item:not(.is-narrow) {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.media-number {
  background-color: #f5f7fa;
  border-radius: 290486px;
  display: inline-block;
  font-size: 18px;
  height: 32px;
  line-height: 24px;
  min-width: 32px;
  padding: 4px 8px;
  text-align: center;
  vertical-align: top;
}

@media screen and (max-width:768px) {
  .media-number {
    margin-bottom: 10px;
  }
}

@media screen and (min-width:769px) {
  .media-number {
    margin-right: 10px;
  }
}

.media-left {
  margin-right: 10px;
}

.media-right {
  margin-left: 10px;
}

.media-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left;
}

.media {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.media .content:not(:last-child) {
  margin-bottom: 10px;
}

.media .media {
  border-top: 1px solid rgba(211,214,219,.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.media .media .content:not(:last-child) {
  margin-bottom: 5px;
}

.media .media .media {
  padding-top: 5px;
}

.media .media .media+.media {
  margin-top: 5px;
}

.media+.media {
  border-top: 1px solid rgba(211,214,219,.5);
  margin-top: 10px;
  padding-top: 10px;
}

.message-body {
  border: 1px solid #d3d6db;
  border-radius: 3px;
  padding: 12px 15px;
}

.message-body strong {
  color: inherit;
}

.message {
  background-color: #f5f7fa;
  border-radius: 3px;
}

.message.is-success {
  background-color: #f4faf0;
}

.message.is-success .message-body {
  border-color: #97cd76;
  color: gray;
}

.message.is-danger {
  background-color: #fdeeed;
}

.message.is-danger .message-body {
  border-color: #ed6c63;
  color: gray;
}

.nav-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
}

.nav-item a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.nav-item img {
  max-height: 24px;
}

.nav-item .tag:first-child {
  margin-right: 5px;
}

.nav-item .tag:last-child {
  margin-left: 5px;
}

@media screen and (max-width:768px) {
  .nav-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.nav-item a,a.nav-item {
  color: #69707a;
}

.nav-item a:hover,a.nav-item:hover {
  color: #222324;
}

.nav-left {
  -ms-flex-align: stretch;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.nav-left {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width:769px) {
  .nav-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.nav {
  background-color: #fff;
  position: relative;
  text-align: center;
  z-index: 2;
}

.nav,.nav>.container {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
}

.nav>.container {
  width: 100%;
}

.nav>.container>.nav-left>.nav-item:first-child:not(.is-tab) {
  padding-left: 0;
}

.nav>.container>.nav-right>.nav-item:last-child:not(.is-tab) {
  padding-right: 0;
}

.container>.nav>.nav-left>.nav-item:first-child:not(.is-tab) {
  padding-left: 0;
}

.container>.nav>.nav-right>.nav-item:last-child:not(.is-tab) {
  padding-right: 0;
}

body {
  margin-top: 10px;
}

.stream,.streams {
  margin-top: 2em;
}
/*# sourceMappingURL=style.eceb68ce9df64d3a5eb1.css.map*/